<html>
    <head></head>
    <body>
        <p>Your verification code is :</p>
        <!-- <ul>
            <li>{{username}}</li>
            <li>{{password}}</li>
        </ul> -->
    </body>
</html>